root = true

[*]
charset = utf-8

[*.cs]
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0306.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.CA1050.severity = none
